.o-table__container {
  width: 30%;
}

.leerdoelTable {
  width: 100%;
  display: flex;
  padding: 10px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #dddddd;
  }
}

.w-100 {
  width: 100%;
}
.mt-10 {
  margin-top: 10px;
}
.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
  padding-right: 10px;
}
.w-70 {
  width: 70%;
}

.o-table__containera {
  width: 30%;
}
.o-table {
  box-shadow: $shadow-regular;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $color-white;
  border-radius: $border-table-body;
  padding: 0 $spacing-large $spacing-medium $spacing-large;
  margin: $spacing-medium 0;
  h2 {
    color: $color-light-blue;
    line-height: 200%;
    padding: $spacing-large 0 0 0;
  }
  &__header {
    padding: $spacing-medium 0;
    display: flex;
    border-radius: $border-table-header;
    padding-bottom: $spacing-small;
    font-weight: bold;
    border-bottom: 1px solid $color-grey;
  }

  &__row {
    display: flex;
    padding: $spacing-small 0;
    border-bottom: 1px solid $color-grey;
    &__learning_goal {
      padding: $spacing-line 0;
      &__bewijs {
        padding: $spacing-line 0;
      }
    }
    a {
      color: unset;
      text-decoration: unset;
      &:hover {
        color: $color-light-blue;
        transition: 0.2s;
      }
    }
    &:last-child {
      border-bottom: unset;
    }
  }
  &__left {
    width: 40%;
    word-break: break-word;
  }
  &__right {
    width: 60%;
    a {
      color: $color-dark-blue;
    }
  }
}

@media only screen and (max-width: 600px) {
  .o-table {
    &__container {
      width: 100%;
      margin-bottom: $spacing-medium;
    }
  }
}
