@import "./dna/dna.scss";

/* Species */

@import "./species/s-tables.scss";
@import "./species/s-iframe.scss";
@import "./species/s-document.scss";
@import "./species/s-pdf.scss";
@import "./species/s-page.scss";

/* Organs */
@import "./organs/o-table.scss";
@import "./organs/o-pagenav.scss";
@import "./organs/o-card.scss";
@import "./organs/o-back-button.scss";
@import "./organs/o-timeline.scss";
@import "./organs/o-intro.scss";
@import "./organs/o-me.scss";
@import "./organs/o-img-box.scss";
@import "./organs/o-nav.scss";

/* Cells */
@import "./cells/c-double-ul.scss";
@import "./cells/c-basic-ol.scss";
@import "./cells/c-gh-img.scss";

/* Animations */
@import "./animations/leftTick.scss";

.test {
    color: Red;
}

.table-basic {
    display: flex;
}
ol{
    margin-left: 30px;
}

.sidebar{
    position: fixed;
    box-shadow: $shadow-regular;
    width: 25vw;
    height: 100vh;
    z-index: 100;
    background-color: #fff;
    img{
        width: 100%;
    }
    .cross{
        cursor: pointer;
        position: fixed;
        left: 26%;
        z-index: 101;
        top: 1%;
        background-color: #fff;
        border-radius: 50%;
        padding: 10px;
        height: 15px;
        width: 15px;
        line-height: 10px;
        text-align: center;
        box-shadow: $shadow-regular;
    }
}